<h2>{{name}}</h2>
<img src="{{image}}" alt="{{name}}">
<div class="description">
   <p>{{description}}</p>
   <p>{{genre}}</p>
   <p>{{release_date}}</p>
   <p>{{platform}}</p>
</div>
<ul class="sidebar">
    {{#each game}}
    <div>
        <h3>{{game_title}}</h3>
        <li><img src='{{image}}'></li>
    </div>
    {{/each}}
</ul>