<h2>{{game_title}}</h2>
<img src="{{image}}" alt="{{name}}">
<p class="description">
   {{description}}
</p>
<ul class="sidebar">
    {{#each game}}
    <div>
        <h3>{{game_title}}</h3>
        <li><img src='{{image}}'></li>
    </div>
    {{/each}}
</ul>