<h2>{{name}}</h2>
<img src="{{image}}" width="400" height="300" alt="{{name}}">
<div class="description">
   <p>{{description}}</p>
   <p>{{genre}}</p>
   <p>{{release_date}}</p>
   <p>{{platform}}</p>
</div>
<ul class="sidebar">
    {{#each games}}
    <div>
        <h3>{{game_title}}</h3>
        <li><img src='{{image}}' width="400" height="300" ></li>
    </div>
    {{/each}}
</ul>