<div class="Popular_games">
    <h2> Popular Games </h2>
    {{#each games}}
    <a href='/games/{{id}}'><img src='{{image}}'></a>
    {{/each}}
</div>
<div class="Upcoming_releases">
    <h2> Upcoming releases </h2>
    {{#each games}}
    <a href='/games/{{id}}'><img src='{{image}}'></a>
    {{/each}}
</div>
<div class="Reviews">
    <h2> Reviews </h2>
    {{#each review}}
    <a href='/reviews/:id'>{{title}}</a>
    {{/each}}
</div>