<h2>{{game_title}}</h2>
<form>
    <label for="comment">Comment Here:</label><br>
    <input type="text" id="comment" name="comment" size="50" method="post"><br>
    <input type="submit" value="Submit">
</form>
<ul class="reply">
    {{#each reply}}
    <div>
        <h3>{{User}}</h3>
        <li>{{comment}}</li>
        <div>
            {{likes}},{{dislikes}}
        </div>
    </div>
    {{/each}}
</ul>
<div>
<img src="{{image}}" alt="{{name}}">
<p>{{publisher}}</p>
<p>{{developer}}</p>
<p>{{game_description}}</p>
</div> 